@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Azure Automation Example</h2>
        @if (ViewData["JobId"] == null)
        {
            <form action="/Home/Index" method="post">
                <div class="form-group">
                    <label for="alias">User alias</label>
                    <input type="text" class="form-control" name="alias" id="alias" placeholder="User alias">
                </div>
                <div class="form-group">
                    <label for="license">License type</label>
                    <div class="radio">
                    <label>
                        <input type="radio" name="license" id="license1" value="MOD272526:ENTERPRISEPREMIUM" checked>
                        E3 License
                    </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="license" id="license2" value="MOD272526:AAD_PREMIUM_P2">
                        AAD Premium License
                    </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        } else {
            <p>Your job has been submitted to Azure Automation! The job ID is @ViewData["JobId"]</p>
        }
    </div>
</div>
